.container-commission-info {
    background-color: #036ffc17;
}

.before-you-commission {
    margin: 0px 100px;
    text-align: justify;
}

.types-of-commission ul {
    list-style: none; 
    padding: 0px;
}

.types-of-commission ul li .card {
    background-color: rgba(0, 255, 255, 0);
    border: none;
}

.types-of-commission ul li .card .row .col-md-4 .carousel .carousel-inner .carousel-item img {
    width: 250px;
    height: 250px;
}

.types-of-commission ul li .card .row .col-md-4 .carousel button span {
    width: 20px;
    height: 20px;
}

.types-of-commission ul li .card .row .col-md-4 .carousel .carousel-control-prev {
    margin-left: -40px;
}

.types-of-commission ul li .card .row .col-md-4 .carousel .carousel-control-prev span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.types-of-commission ul li .card .row .col-md-4 .carousel .carousel-control-next {
    margin-right: -40px;
}

.types-of-commission ul li .card .row .col-md-4 .carousel .carousel-control-next span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.types-of-commission ul li .card .row .col-md-8 .card-body .card-title {
    text-align: center;
    font-weight: 500;
}

.types-of-commission ul li .card .row .col-md-8 .card-body .card-text {
    text-align: left;
}

.types-of-commission ul hr {
    border: 1px solid black;
    opacity: 50%;
}